sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
sass_binary_site=https://cdn.npmmirror.com/binaries/node-sass/
phantomjs_cdnurl=https://cdn.npmmirror.com/binaries/phantomjs/
registry=https://registry.npmmirror.com/
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
disturl=https://npmmirror.com/dist
ELECTRON_BUILDER_BINARIES_MIRROR=http://npmmirror.com/mirrors/electron-builder-binaries/
